.main {
  background-color: rgb(253, 253, 253);
  padding: 30px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.514);
  color: black;
  max-width: 600px;
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

