.container-filmes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px;
  width: 100%;
  /* Garante que use a tela toda */
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  height: 50px;
  margin: 10px;
}
